body {
    padding: 0;
    margin: 0;
}


.container-one {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 10px 100px 0px 100px;
}


header {
    display: flex;
    justify-content: space-between;
}


header .header-para {
    color: #e5e7eb;
}


.header-left img {
    width: 50px;
    height: 50px;
    color: #4c5b70;

}

.header-right a {
    align-items: flex-end;
    text-decoration: none;
    padding-left: 10px;
    color: #e5e7eb;
}


.img-header-side {
    width: 300px;
    height: auto;
    max-width: 100%;

}


.header-elements {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #e5e7eb;
}

.header-h1 {
    color: #f9faf8;
    font-size: 30px;
    font-weight: bold;
}


.sign-up {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 10%;
}















.container-two {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 100px 100px 100px;
    align-items: center;

}


.header-two {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 50px;

}




.cards {
    display: flex;
    gap: 15px;
}


.cards p {
    color: #1F2937;
}


.box {
    height: 150px;
    width: 150px;
    border: 3px;
    border-radius: 10%;
    border-style: solid;
    border-color: #3882F6;
    text-align: center;
}














.container-three {
    background-color: #e2e4e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 100px 0px 100px;
}

.quote-text {
    font-size: 25px;
    font-style: italic;
    color: #1f2937;
}

.aurelius {
    font-size: 10px;
    font-weight: bold;
    align-self: flex-end;

}








.container-four {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    margin: 0;
}



.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    background-color: #3882F6;
    border: #3882F6;
    border-style: solid;
    border-width: 20px;
    border-radius: 2%;
    margin: 100px 75px 100px 75px;
    gap: 50px;



}


.bottom-header {
    font-size: 20px;
    font-weight: 700;
    color: white;

}


.bottom-text {
    font-size: 15px;
    color: #e5e7eb;

}


.bottom-button {
    display: flex;
    flex-direction: column;
    justify-content: right;

}



.bottom-sign {
    background-color: #3882F6;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: white 2px;
    border-style: solid;
    border-radius: 12%;
    padding: 12px 25px 12px 25px;
    margin-right: 50px;

}
















.container-five {
    background-color: #1f2937;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.footer-text {
    color: #e5e7eb;
    font-size: 15px;
}